@font-face {
  font-family: Stem;
  src: url(../fonts/Stem-ExtraLight.otf);
}
* {
  color: #fff;
  font-family: Stem;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

#background {
  background-image: url("../images/bg/player.jpg");
  background-position: center;
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100vw;
}

#loginContainer * {
  color: #fff;
  font-family: Stem;
  font-weight: 700;
  line-height: 1em;
  font-size: 1.5rem;
  box-sizing: border-box;
}

#loginContainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
  padding-top: 10rem;
}

#inputContainer {
  width: 50rem;
  padding: 4.5rem;
  float: left;
  border-right: 1px solid #999;
}
#inputContainer span {
  color: #9b111e;
  display: block;
  margin: 1rem 0;
}
#inputContainer h2 {
  text-align: center;
}
#inputContainer input {
  display: block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  height: 2.7rem;
  width: 100%;
  margin: 0.5rem 0;
  outline: none;
}
#inputContainer button {
  background: transparent;
  padding: 1rem;
  border-radius: 300px;
  display: block;
  letter-spacing: 0.2rem;
  border: 2px solid #fff;
  width: 100%;
  cursor: pointer;
  outline: none;
}
#inputContainer .hideLogin, #inputContainer .hideRegister {
  margin: 2rem 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

#registerForm, #loginForm {
  display: none;
}

#loginText {
  padding: 4.5rem;
  display: table-cell;
}
#loginText h1 {
  font-size: 5rem;
}
#loginText h2 {
  margin: 3.5rem 0;
  font-size: 2.2rem;
}
#loginText ul {
  list-style: none;
}
#loginText li {
  margin: 2.5rem;
  background-image: url("../icons/checked.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2rem;
}

body {
  background: #181818;
  font-size: 1.4rem;
  min-width: 72rem;
  letter-spacing: 1px;
}

#mainViewContainer {
  margin-left: 22rem;
  padding-bottom: 9rem;
  width: calc(100% - 22rem);
}
#mainViewContainer #mainContent {
  padding: 0 2rem;
}

.pageHeadingBig {
  padding: 2rem;
  text-align: center;
}

.gridViewItem {
  display: inline-block;
  margin-right: 2rem;
  width: 29%;
  max-width: 20rem;
  min-width: 15rem;
  margin-bottom: 2rem;
}
.gridViewItem a {
  text-decoration: none;
}
.gridViewItem img {
  width: 100%;
}

.gridViewInfo {
  font-weight: 300;
  text-align: center;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#nowPlayingBarContainer {
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
}
#nowPlayingBarContainer .nowPlayingBar {
  display: flex;
  height: 9rem;
  padding: 1rem;
  box-sizing: border-box;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingLeft .content {
  display: flex;
  justify-content: space-evenly;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingLeft .content .albumLink img {
  max-width: 125px;
  background-size: cover;
  height: 7rem;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingLeft .content .trackInfo {
  font-size: 2rem;
  margin-top: 1.1rem;
  font-size: 2.2rem;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingLeft .content .trackInfo .artistName {
  font-size: 1.4rem;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingLeft, #nowPlayingBarContainer .nowPlayingBar .nowPlayingRight {
  width: 30%;
  min-width: 18rem;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingRight .volumeBar {
  display: flex;
  align-items: center;
  margin-top: 2.6rem;
  margin-left: 6rem;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingRight .volumeBar .controlButton {
  background-color: transparent;
  border: none;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingRight .volumeBar .controlButton img {
  width: 2rem;
  margin-top: 7px;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingRight .volumeBar .progressBar {
  min-width: 18rem;
  height: 0.8rem;
  display: inline-flex;
  cursor: pointer;
  margin: 0 2rem;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingRight .volumeBar .progressBar input[type=range] {
  overflow: hidden;
  width: 100%;
  max-width: 10rem;
  -webkit-appearance: none;
  background-color: #404040;
  outline: none;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingRight .volumeBar .progressBar input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #404040;
  margin-top: -1px;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingRight .volumeBar .progressBar input[type=range]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: #4CBB17;
  box-shadow: -80px 0 0 80px #a0a0a0;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingRight .volumeBar .progressBarBg {
  background: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  max-width: 10rem;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingRight .volumeBar .progressBarBg .progress {
  background: #a0a0a0;
  height: 4px;
  width: 0;
  border-radius: 2px;
}
#nowPlayingBarContainer .nowPlayingBar .nowPlayingCenter {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nowPlayingBarContainer .nowPlayingBar .playerControls .buttons {
  margin: 0 auto;
  display: table;
}
#nowPlayingBarContainer .nowPlayingBar .playerControls .buttons .controlButton {
  background-color: transparent;
  border: none;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}
#nowPlayingBarContainer .nowPlayingBar .playerControls .buttons .controlButton img {
  width: 2rem;
  height: 2rem;
}
#nowPlayingBarContainer .nowPlayingBar .playerControls .buttons .play img, #nowPlayingBarContainer .nowPlayingBar .playerControls .buttons .pause img {
  width: 3rem;
  height: 3rem;
}
#nowPlayingBarContainer .nowPlayingBar .playerControls .playbackBar {
  display: flex;
  align-items: center;
}
#nowPlayingBarContainer .nowPlayingBar .playerControls .playbackBar .progressTime {
  color: #a0a0a0;
  font-size: 1.5rem;
  font-family: Stem;
  text-align: center;
}
#nowPlayingBarContainer .nowPlayingBar .playerControls .playbackBar .progressBar {
  width: 30vw;
  min-width: 18rem;
  height: 1rem;
  display: inline-flex;
  cursor: pointer;
  margin: 0 2rem;
}
#nowPlayingBarContainer .nowPlayingBar .playerControls .playbackBar .progressBarBg {
  background: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}
#nowPlayingBarContainer .nowPlayingBar .playerControls .playbackBar .progressBarBg .progress {
  background: #a0a0a0;
  height: 4px;
  width: 0;
  border-radius: 2px;
}

#topContainer {
  min-height: 100%;
  min-width: 100%;
}
#topContainer #navBarContainer {
  background: black;
  width: 22rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#topContainer #navBarContainer .navBar {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}
#topContainer #navBarContainer .navBar .logo {
  border-bottom: 1px solid #a0a0a0;
  padding: 2rem;
  outline: none;
}
#topContainer #navBarContainer .navBar .logo img {
  width: 5rem;
}

.search {
  border-bottom: 1px solid #a0a0a0;
  margin: 1rem 0;
  height: 4rem;
}
.search .icon {
  width: 3rem;
  position: absolute;
  top: 13.3rem;
  right: 3rem;
}

.navItem {
  padding: 0.5rem 0;
}
.navItem .navItemLink {
  display: block;
  margin-top: 0.62rem;
  outline: none;
  cursor: pointer;
}
.navItem a {
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 1px;
  color: #a0a0a0;
}

.navItem a:hover {
  color: #fff;
}

.entityInfo {
  padding: 4rem 0 1rem 0;
  display: inline-block;
  width: 100%;
}
.entityInfo .leftSection {
  width: 30%;
  float: left;
  max-width: 25rem;
}
.entityInfo .leftSection img {
  width: 100%;
}
.entityInfo .rightSection {
  width: 70%;
  float: left;
  padding: 0.5rem 1rem 0.5rem 4rem;
  box-sizing: border-box;
}
.entityInfo .rightSection h2 {
  margin-top: 0;
}
.entityInfo .rightSection p {
  color: #939393;
  font-weight: 200;
}

.trackList {
  padding: 0;
}
.trackList .trackListRow {
  height: 4rem;
  padding: 1.5rem 1rem;
  list-style: none;
}
.trackList .trackListRow .trackCount {
  width: 8%;
  float: left;
}
.trackList .trackListRow .trackCount span {
  visibility: visible;
}
.trackList .trackListRow .trackCount img {
  width: 2rem;
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}
.trackList .trackListRow:hover {
  background: #282828;
}
.trackList .trackListRow:hover .trackCount img {
  visibility: visible;
}
.trackList .trackListRow:hover .trackCount span {
  visibility: hidden;
}
.trackList .trackListRow:hover .trackOptions img {
  visibility: visible;
}

.trackInfoAlbum {
  width: 75%;
  float: left;
}
.trackInfoAlbum span {
  display: block;
}

.trackOptions {
  width: 5%;
  float: left;
  text-align: right;
}
.trackOptions img {
  width: 1.5rem;
  visibility: hidden;
}

.trackDuration {
  width: 12%;
  float: left;
  text-align: right;
}

.trackName {
  color: #fff;
  margin-bottom: 7px;
}

.artistName {
  color: #939393;
  font-weight: 200;
}

.artistInfo {
  text-align: center;
}

.borderBottom {
  border-bottom: 1px solid #939393;
  margin-bottom: 2rem;
}

h2 {
  color: #939393;
}

.artistName {
  color: #fff !important;
}
.artistName span {
  outline: none;
}

button {
  cursor: pointer;
  color: #fff;
  margin-bottom: 10px;
  background: transparent;
  font-weight: 500;
  letter-spacing: 2px;
  border: 2px solid #939393;
  border-radius: 500px;
  padding: 1.5rem;
  min-width: 13rem;
  outline: none;
}

.searchContainer {
  background: #242424;
  padding: 2rem 2.8rem;
}
.searchContainer h4 {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  color: #939393;
}
.searchContainer input {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 0.5rem;
}

.searchResultRow {
  padding: 1.5rem 1rem;
}
.searchResultRow .artistName {
  color: #fff;
  cursor: pointer;
}
.searchResultRow:hover {
  background: #282828;
}

.noResults {
  display: block;
  margin: 1rem 0;
}

.gridViewContainer {
  text-align: center;
  padding: 1rem 0;
}

button {
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
